// table constant
$Header_bg: #2b2eff54;
$border_color : #b7b6b6;
$P_text_color :rgb(12, 12, 12);
$span_text_color: darkslategray;
$text_btn_color:aliceblue;


// pagination constant

$pag_btn_a_color :#2b2eff;
$pag_btn_a_color_1:white;
$pag_dis_color :rgba(161, 159, 159, 0.76);